<!DOCTYPE html>
{% include 'header.html' %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Inbox 

        {% for message in messages %}
        <article class="post">
            
            {% comment %} <h2><a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.title }}</a></h2> {% endcomment %}
        From : {{message.from_user}}
           
        </article>
        <br/>
        <br/>
    {% endfor %}


        <script src="" async defer></script>
    </body>
</html>